<div class="container">
    <h2>수정</h2>
    <div class="row">
        <div class="col">
            <label for="kbId">#</label>
            <input type="text" id="kbId" name="kbId" class="form-control  "  [value]="dto.kbId" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="parentKbId">부모 #</label>
            <input type="text" id="parentKbId" name="parentKbId" class="form-control  "  [value]="dto.parentKbId" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="sj">제목</label>
            <input type="text" #sj id="sj" name="sj" class="form-control" [value]="dto.sj" autofocus>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="cn">내용</label>
            <textarea #cn class="form-control" id="cn" name="cn" rows="10" [value]="dto.cn"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="url">참고 url</label>
            <input type="url" #url id="url" name="url" class="form-control"  [value]="dto.url" >
        </div>
    </div>
    <div class="row text-right mt-1">
        <div class="col-6">
            <button type="button" class="btn btn-primary " (click)="updt()">수정</button>
            <button type="button" class="btn btn-secondary mx-1 " (click)="cancel()">취소</button>

        </div>
    </div>
</div>